#programirovanie{
	border-radius: 12px;
	background-color:#4288f7 ;
	color:#007c10;
	height:30px;
	width:250px;
	font-size:30px;
}
#prgdhiuuuiuiuiuiuuuiuu{
	border:12px solid #8e2f2f;
	background-color:#00e9ff;
}
#programer{
	
}
#div1{
	color:green;
	display: none;
}
#program{
color:blue;
  background-color:#cc9200;
}
#futebol{
	color:blue;
	background-color:green;
}
#div2{
	color:green;
	display: none;
}
.prg{
	
}
#prg{

}
#t10e{
	font-size:50px;
	line-height:45px;
}